.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
}



*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: #1A0B2E;
    align-items: center;
}
.navbar h1{
    font-size: 3rem;
}
.navbar h1 .wave{
    background: linear-gradient(to right,rgb(252, 252, 29), rgb(238, 64, 93),rgb(252, 126, 126),rgb(248, 30, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link{
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
}
.nav-link li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    
}
nav>span{
    display: none;
}
.btn{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 36.5px;
    margin-bottom: 36.5px;
    padding: 12px 16px;
    border: none;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-radius: 10000px;
    color: white;
   
}

.hero{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    
    margin:0;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.circle-micro{
    position: relative;
    padding-top: 106px;
}
.circle{
   
    border: none;
    
}
.microphone{
    position: absolute;
    
    top: 43%;
    left: 46.5%;
    
}
.new-ch{
    position: absolute;
    top: 35%;
    left: 57%;
    border-radius: 1000px;
    background-color: #00FF88;
    padding: 8px 16px 8px 16px;
    border: none;
}
.hero h1{
    font-size: 4rem;
    margin-top: 40px;
}
.hero p{
    font-size: 1rem;
    opacity: 80%;
    margin-top: 8px;
    color: #FFFFFF;
}
.two-btn{
    display: flex;
    padding-bottom: 24px;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 8px;

}
.btn-trans{
    color: #00FF88;
    background: transparent;
    border: 2px solid #00FF88;
}

.podcast{
    background-color: #1A0B2E;
    margin: 0 auto;
    
}
.podcast-box{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.podcast-container{
     max-width: 1200px;
     margin: 0 auto;
     text-align: center;
}
.podcast h1{
    font-size: 3rem;
    padding-top: 50px;
    padding-bottom: 16px;
}
.podcast-container p{
    margin: 0 auto;
    max-width: 800px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    opacity: 80%;
}
.podcast-p2{
    padding-top: 30px;
    padding-bottom: 80px;
}
hr{
    max-width: 1200px;
    margin-bottom: 80px;
    
    opacity: 10%;
}
.podcast-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.podcast-head{
    text-align: center;
}
.podcast-card{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}
.podcast-card-p{
    padding-top: 16px;
    font-size: 1rem;
    font-weight: 400;
    opacity: 80%;
}











@media screen and (max-width:576px) {
    .nav-link,
    .btn-hide{
        display: none;
    }
     nav>span{
    display: inline;
    }
    .navbar{
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .hero{
        width: 100%;
        max-width: 576px;
    }


    .podcast-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    }
    .podcast-box{
        margin-left: 10px;
        margin-right: 10px;
    }

}